# Default ignored files
/shelf/
/workspace.xml

# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Hi_Planet_Save_The_Earth.iml
/contentModel.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

